@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

ul {
  display: flex;
  flex-wrap: wrap;
}

.container {
  background-color: whitesmoke;
  border-radius: 1rem;
  box-shadow: gray 2px 1px 2px;
  display: flex;
  font-family: "Roboto", sans-serif;
  padding: 1rem 0 2rem 1rem;
  width: 390px;
  box-sizing: border-box;
  margin: 10px auto;
}

.container > div {
  display: flex;
  text-align: left;
  flex-direction: column;
  width: 200px;
  margin-left: auto;
}

/* Ese selector podrías reemplazarlo por una clase */
.container div span:nth-child(2) {
  font-weight: 400;
}

img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

.container span {
  font-weight: 400;
}

h2 {
  color: slategrey;
  letter-spacing: 1px;
  margin: 0;
}

h4 {
  margin: 2px 0;
  font-size: 1rem;
}
